
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <div> 
        You do not have sufficient privileges, please log out and sign in as administrator    </div>
</body>
</html>
